.request {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    padding-top: 4.625rem;
    padding-bottom: 1.5rem;
    /* height: 100vh; */
    width: 100vw;
    background-color: var(--color-bg);
}

.requestBottom {
    background-color: var(--color-bg);
    width: 100vw;
    grid-template-columns: repeat(18, 1fr);
    display: grid;
    padding-top: 1.68rem;
    height: 100vh;

}

.RequestTop {
    grid-column-start: 3;
    grid-column-end: 17;
}

.RequestTopSub {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

}

.RequestTopHead h1 {
    font-size: 20px;

}

.RequestTopHead:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
}

.RequestTopHead:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 7;
}

.RequestTopHead:nth-child(3) {
    grid-column-start: 10;
    grid-column-end: 13;
}

.RequestTopHead:nth-child(2) svg {
    font-size: 1.5rem;
    width: 3rem;

}

.RequestDateSelect {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #D8D6D6;
    border-radius: 4px;
    padding: 0.2rem;
}

.RequestDate svg {
    color: var(--color-black) !important;
    width: 2rem;
}

.RequestDate {
    display: flex;
    align-items: center;

}

.RequestDate p {
    font-size: 0.8rem;
}

.RequestSelect {
    border-left: 1px solid var(--color-grey);
}

/* tab styling */

.requestBottomTab {
    grid-column-start: 3;
    grid-column-end: 17;
    background-color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 21px;
    padding-left: 44px;

}

.tabIcons svg {
    margin-right: 8px;
}

@media screen and (max-width: 1440px) {
    .RequestDate {
        padding: 0 5px 0 0;

    }

    .RequestDate p {
        font-size: 0.7rem;
    }

    .RequestTopHead:nth-child(2) {
        grid-column-end: 8;
    }

    .RequestTopHead h1 {
        font-size: 18px;

    }

}

@media screen and (max-width: 1440px) {

    .RequestTopHead:nth-child(3) {
        grid-column-start: 9;
        grid-column-end: 13;
    }

    .RequestTopHead h1 {
        font-size: 16px;

    }

    .RequestDate p {
        font-size: 0.6rem;
    }
}


@media screen and (max-width: 820px) {
    .RequestTopHead:nth-child(2) {
        grid-column-start: 4;
        grid-column-end: 8;
    }

    .RequestTopHead:nth-child(2) svg {
        font-size: 1rem;
        width: 2rem;

    }

    .RequestTopHead:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 4;
    }

}

@media screen and (max-width: 570px) {
    .RequestTopHead:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 6;
    }

    .RequestTopHead:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: 13;
        padding-top: 10px;

    }

    .RequestTopHead:nth-child(3) {
        grid-column-start: 1;
        grid-column-end: 13;
        padding-top: 10px;
    }
}