.dashboard {
    /* height: 100vh; */
    width: 100vw;
    background-color: var(--color-bg);
    padding-top: 2rem;
}

.dashboardGrid {
    display: grid;
    grid-template-columns: repeat(18, 1fr);

}

.dashboardTitle {

    grid-column-start: 3;
    display: flex;
    /* gap: 1.75rem; */
    grid-column-end: 16;
    align-items: center;
    padding-bottom: 2.25rem;

}
.dashboardTitle > * + * {
    margin-left: 1.75rem;
   }


.dashboard svg {
    width: 3rem;

}

.dashboardTitle h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    font-family: "Aoniek Bold";

}

.dashline {
    grid-column-start: 3;
    grid-column-end: 17;
    border: 0.5px solid #E3E3E3;



}

.dashboardPerformance {
    grid-column-start: 3;
    grid-column-end: 17;
    padding-top: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 1.68rem;

}

.performanceStats {
    grid-column-start: 3;
    grid-column-end: 17;
    background-color: var(--color-white);
    border-radius: 15px;

}


.performanceStats svg {
    height: 20px;
    width: 20px;

}

.dashboardPerfomance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1.5rem;
    align-items: center;
    justify-content: center;
}

.performanceText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.performanceText h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--color-grey);
}

.performanceTextImg {
    display: flex;
    padding-top: 1rem;
    align-items: center;
    padding-bottom: 3.3rem;
}
.performanceTextImg > * + * {
    margin-left: 1rem;
   }

.performanceTextImg p {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-black);
}

/* .performanceText:nth-child(1){
    border-right: 0.5px solid #E9E9E9;

}
.performanceText:nth-child(2){
    border-right: 0.5px solid #E9E9E9;

} */
/* .performanceText:nth-child(3){
    border-right: 0.5px solid #E9E9E9;

} */

/* .performanceText:nth-child(4) {
    border-right: 0.5px solid #E9E9E9;

} */

.performanceText:nth-child(4) svg {
    visibility: hidden;
}

/* .performanceText:nth-child(5){
    border-top: 0.5px solid #E9E9E9;

} */
.performanceText:nth-child(5) svg {
    visibility: hidden;
}

/* .performanceText:nth-child(6) {
    border-left: 0.5px solid #E9E9E9;

} */

.performanceText:nth-child(6) svg {
    visibility: hidden;
}

@media screen and (max-width: 1440px) {
    .dashboardTitle h1 {
        font-size: 21px;
    }

    .dashboardPerformance {
        font-size: 18px;
    }

    .performanceText h1 {
        font-size: 16px;
    }

    .performanceTextImg p {
        font-size: 22px;
    }

    .performanceTextImg {
        padding-top: 0.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .dashboardTitle h1 {
        font-size: 19px;
    }
}

@media screen and (max-width: 1024px) {
    .dashboardPerformance {
        font-size: 19px;
    }

    .performanceText h1 {
        font-size: 14px;
    }

    .performanceTextImg p {
        font-size: 18px;
    }

    .performanceTextImg {
        padding-bottom: 2.3rem;
    }

}

@media screen and (max-width: 570px) {
    .dashboardTitle h1 {
        font-size: 16px;
    }

    /* .dashboardTitle {
        gap: 1rem;
    } */
.dashboardTitle > * + * {
    margin-left: 1rem;
   }
    .performanceText h1 {
        font-size: 12px;
    }

    .performanceTextImg p {
        font-size: 16px;
    }


    .performanceStats svg {
        height: 16px;
        width: 20px;

    }

    /* .performanceTextImg {
        gap: 0.5rem;
    } */
    .performanceTextImg > * + * {
        margin-left: 0.5rem;
       }
}

@media screen and (max-width: 414px) {
    .dashboard svg {
        display: none;
    }

    .performanceText h1 {
        font-size: 10px;
    }
}