*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Aoniek Regular";
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --color-black: #000000;
  --color-grey: #9B9B9B;
  --color-lightGrey: #F1F1F1;
  --color-white: #ffffff;
  --color-lightRed: #FFEBEB;
  --color-red: #FD1212;
  --color-brown: #796D05;
  --color-yellow: #FFFEE3;
  --color-purple: #5D5BB5;
  --color-bg: #F5F5F5;
  --color-green: #26B602;
  --color-lightGreen: #F3FFF0;
  --color-pink: #FFF2F2;
  --color-offwhite: #FFFFF4;
  --color-blue: #2C4CB1;
}

@font-face {
  font-family: "Aoniek Bold";
  src: url(./assets/fonts/AeonikTRIAL-Bold.otf);
}


@font-face {
  font-family: "Aoniek Light";
  src: url(./assets/fonts/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: "Aoniek Regular";
  src: url(./assets/fonts/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: "Creato Display";
  src: url(./assets/fonts/CreatoDisplay-Regular.otf);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0em !important;
}


/* OVERRIDE ANT DESIGN  */
.ant-input-affix-wrapper-lg,
.ant-input-affix-wrapper>input.ant-input {
  background-color: transparent !important;
  border-radius: 8px !important;
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.ant-input::placeholder {
  font-size: 1rem !important;
}

.anticon svg {
  color: var(--color-grey) !important;
}

.ant-select {
  width: 7vw !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: var(--color-grey) !important;
  box-shadow: 0 0 0 1px rgba(99, 99, 99, 0.2);
}

.ant-input-affix-wrapper-focused {
  border-color: var(--color-grey) !important;
  box-shadow: 0 0 0 1px rgba(99, 99, 99, 0.2);

}

/* TAB STYLING ANT DESIGN */
.ant-tabs-tab {
  font-size: 16px !important;
}

.ant-tabs-ink-bar {
  background: var(--color-purple) !important;
}

.ant-tabs-tab-active {
  color: var(--color-purple) !important;

}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab-btn:focus,
.ant-tabs-tab:hover {
  color: var(--color-purple) !important;
}

.ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
  color: var(--color-grey) !important;
  /* font-size: 100px !important; */
}

/* ant TABLE STYLING */
.ant-table-wrapper {
  max-width: 98% !important;
}




@media screen and (max-width: 1440px) {

  .ant-select {
    outline: none !important;
    box-shadow: none !important;
    font-size: 0.7rem !important;
  }

  .ant-input::placeholder {
    font-size: 14px !important;
  }

  .ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 1280px) {
  .ant-select {
    width: 9vw !important;

    font-size: 0.7rem !important;
  }

  .ant-select-item-option-content {
    font-size: 0.6rem !important;
  }

}

@media screen and (max-width: 1024px) {
  .ant-select {
    width: 10.8vw !important;
    font-size: 0.6rem !important;

  }

  .ant-input-affix-wrapper-lg {
    padding: 4.5px 5px !important;

  }

  .ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 820px) {
  .ant-input::placeholder {
    font-size: 12px !important;
  }

  .ant-table table {
    table-layout: fixed !important;

  }

  .ant-table-thead>tr>th {
    font-size: 14px !important;
  }

  .ant-table-tbody>tr>td {
    font-size: 7px !important;
    cursor: pointer !important;
  }

}

@media screen and (max-width: 570px) {
  .ant-select {
    width: 20.8vw !important;
    font-size: 0.6rem !important;

  }
}

@media screen and (max-width: 414px) {
  .ant-select {
    width: 25.8vw !important;
    font-size: 0.6rem !important;

  }
}