*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  font-family: "Aoniek Regular";
}

@font-face {
  font-family: "Aoniek Bold";
  src: url(./assets/fonts/AeonikTRIAL-Bold.otf);
}


@font-face {
  font-family: "Aoniek Light";
  src: url(./assets/fonts/AeonikTRIAL-Light.otf);
}

@font-face {
  font-family: "Aoniek Regular";
  src: url(./assets/fonts/AeonikTRIAL-Regular.otf);
}